# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store


# eclipse conf file
.settings
.classpath
.project
.manager

build/**/*

# XCode user local
StackMobiOS.xcodeproj/xcuserdata/**/*
StackMobiOS.xcodeproj/project.xcworkspace/**/*
StackMobiOS.xcodeproj/project.xcworkspace/*
